<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{{title}}}</title>
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<div class="header">
<img class="img-responsive" src="images/qts_logo.png" alt="QTS Group">
	<nav class="pages">
	<li><a href="/">Home</a></li>
	<li><a href="rmsoverview">RMS Monitoring</a></li>
	<li><a href="about">About</a></li>
	<li><a href="contact">Contact</a></li>
	</nav>
	</div>
<body>
<div class="body" id="body">
	{{{body}}}
</div>
</body>
</html>