<div class="rms_para">
<p><h1>Introduction</h1></p>
<p>The total length of railway networks in the UK is 15,800 Km where a large part is located
 in mountain regions. The railway infrastracture in these regions are subjected to rock 
 falling thread that can cause serious damages and lead to significant dealies. 
 The number of rockfall accidents has significantly increased in recent years.
Currently, Rockfall incidents on catch fences along railways are generally monitored
 by regular site inspections. This inefficient and laborious process cannot ensure a 
 high level of safety be-cause incidents can happen between inspections.
An alarm system is needed to signal these events in real-time to prevent accidents. 
A real-time rockfall monitoring system (RMS) for rockfall catch fences is currently under development. 
The proposed CMS is a compact device which is attached to the posts of catch fences:
 the device is activated by a built-in shock sensor.
Proper selection of sensor characteristics is needed in order to provide reliable monitoring; 
to prevent the sensor from damage due to overloading and to prevent false alarms.
This system will change rockfall catch fence into a smart protection system that 
can significantly enhance the ability to protect railways.</p>
<p><h1>Rockfall Monitoring System (RMS):</h1></p>
<p>is a continuous monitoring system for rockfall catch fences which provides
A rockfall monitoring system (RMS) to remotely monitor rockfall catch fences is currently
under development. The device has an integral shock sensor to monitor vibrations. When a rock
impacts the catch fence, the sensor activates the CMS which transmits a signal through the
mobile telephone network to pre-defined users.</p>
<p><h1>CMS features:</h1></p>
<ol style="list-style-type:circle">
<li>Real-time warnings of rockfall incidents</li>
<li>Detailed information of incident (SMS/MMS)</li>
<li>Autonomous unit</li>
<li>Self-powered device</li>
<li>Check catch fence serviceability</li>
<li>Perform health checks on itself</li>
<li>Can activate other devices</li>
<li>Compact unit, weather protected</li>
<li>Easy attach to catch fences</li>
</ol>
<p><h1>For more detials, please read our article in RocExs17 Conference in Spain</h1></p>
<a href="doc/RMS_Al-Budairi_RocExs17.pdf">Condition monitoring system for rockfall catch fences</a>
</div>



<div class="figs">
<figure>
<img src="images/RMS_pix_2.png" alt="RMS_digram image">
<figcaption>Figure 1 Derailed train after collision with a fallen rock</figcaption></figure>
<figure>
<img src="images/RMS_digram.png" alt="RMS_digram image">
<figcaption>Figure 2 RMS communication diagram</figcaption></figure>
<figure>
<img src="images/RMS_pix_1.png" alt="RMS_digram image">
<figcaption>Figure 3 RMS prototype</figcaption></figure>
</figure>
</div>